.el-collapse-item__header {
  border-bottom: none;
  height: 36px;
}

.el-collapse {
  border: none;
}

.el-collapse-item__content {
  padding-bottom: 16px;
}

.el-collapse-item__wrap {
  border-bottom: none;
}